.star-rating {
  position: relative;
  width: 5em; // 星の表示エリアの幅：font-sizeの25px x 5
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; // 星の超過分を隠す
  color: #fc3;
}

.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}

.average-score-display {
  font-size: 16px;
}